// Making mixins
@mixin row($color){
    height: 40px;
    width: 100%;
    background-color: $color;
}

@mixin circle($color,$length){
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: $color;
    height: $length;
    width: $length;
}

//Making media queries mixin
@mixin breakpoint($min-width, $max-width){
    @media screen and (min-width: $min-width) and (max-width:$max-width){
       @content;
    }
}

// making variables needed in the scss
$head_foot_color:#8ccff7;
$hovered:#444;
$footer_height:50px;
$height1: 400px;
$height2: 300px;
$height3: 200px;


// hiding the sizes
#size1{
    display: block;
    @include breakpoint(0, 620px){
        display: none;
    }
}
#size2{
    display: none;
    @include breakpoint(481px, 620px){
        display: block;
    }
}

#size3{
    display: none;
    @include breakpoint(0px, 480px){
        display: block;
    }
}

// styling the header
#header{
    background-color: $head_foot_color;
    height: $height1;
    display: flex;
    justify-content: center;
    @include breakpoint(481px, 620px){
        height: $height2;
    }
    @include breakpoint(0, 480px){
        height: $height3;
    }
}

// arrangingt the center box accordingly
#box{
    height: $height1;
    width: $height1;
    background-color: #c4c0c0;
    color: rgb(151, 147, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    @include breakpoint(481px, 620px){
        height: $height2;
        width: $height2;
    }
    @include breakpoint(0, 480px){
        height: $height3;
        width: $height3;
    }

}

// styling the footer
footer{
    background-color: $head_foot_color;
}


#lightblue,#blue,#red,#orange,#space,footer{
    height: 40px;
    width: 100%;
}

#lightblue{
    @include row(#4e89ae);
}
#blue{
    @include row(#43658b);
}
#red{
    @include row(#ed6663);
}
#orange{
    @include row(#ffa372);
}
#circles{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
//Mixin method for media queries
    @include breakpoint(0px,620px){
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
#circle1{
    @include circle(#4e89ae,70px)
}
#circle2{
    @include circle(#43658b, 80px)
}
#circle3{
    @include circle(#ed6663, 90px)
}
#circle4{
    @include circle(#ffa372, 100px)
}
#circle1, #circle2, #circle3, #circle4{
    @include breakpoint(0px, 620px){
        margin-top: 5px;
        margin-bottom: 5px;    
    }
}
#circle1:hover,#circle2:hover,#circle3:hover,#circle4:hover,#lightblue:hover,#blue:hover,#red:hover,#orange:hover{
    background-color: #444;
}